__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so
data/*
!data/admet_group/
data/admet_group/*
!data/admet_group/herg/
data/admet_group/herg/*
!data/admet_group/herg/test.csv
!data/admet_group/herg/train_val.csv
output/
.env
*.log
.venv/
venv/
.ipynb_checkpoints/
*.pkl
*.npy
*.npz
catboost_info/
pretrained_gin/
.DS_Store
